<template>
  <div class="goods">
    <good-list-item v-for="item in goods" :goods-item="item"></good-list-item>
  </div>
</template>

<script>
  import GoodListItem from '@/components/content/goods/GoodListItem'

  export default{
    name: 'GoodList',
    components: {
      GoodListItem,
    },
    props: {
      goods: {
        type: Array,
        default() {
          return []
        }
      }
    }
  }
</script>

<style scoped>
  .goods {
    display: flex;
    flex-wrap: wrap;  /* 不要水平超過 超過就換行 */
    justify-content: space-around;   /* 空格均分 */
    padding: 2px;
  }
  
  
</style>
