<template>
  <div class="goods-item" @click="itemClick">
    <img v-lazy="goodsItem.imageUrl" @load="imageLoad">
    <div class="goods-info">
      <p>{{goodsItem.name}}</p>
      <span class="price">Price: ${{goodsItem.price}}</span>
      <span class="collect">{{goodsItem.collect}}</span>  <!-- // 收藏 -->
    </div>
  </div>
</template>

<script>
  export default{
    name: 'GoodListItem',
    props: {
      goodsItem: {
        type: Object,
        default() {
          return {}
        }
      }
    },
    data() {
      return {
      }
    },
    methods: {
      imageLoad() { 
        // console.log('imageLoad');
        this.$bus.$emit('imageLoad') // 發送監聽事件讓home可以執行scroll.refresh()
      },
      itemClick() {
        // console.log('info');
        this.$router.push('/detail/' + this.goodsItem.id)
      },
    },
    computed: {
    }
  }
</script>

<style scoped>
  .goods-item {
    padding-bottom: 40px;
    position: relative;
    width: 48%;
  }

  .goods-item img {
    width: 100%;
    border-radius: 5px;
  }

  .goods-info {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: center;
  }

  .goods-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 3px;
  }

  .goods-info .price {
    color: var(--color-high-text);
    margin-right: 20px;
  }

  .goods-info .collect {
    position: relative;
  }

  .goods-info .collect::before {
    content: '';
    position: absolute;
    left: -15px;
    top: -1px;
    width: 14px;
    height: 14px;
    background: url("~assets/img/common/collect.svg") 0 0/14px 14px;
  }
</style>
