<template>
  <div class="tab-bar-item" @click="btnClk">
    <div v-if="!isActive"><slot name="item-icon"></slot></div>
    <div v-else><slot name="item-icon-active"></slot></div>
    <div :style="activeStyle"><slot name="item-text"></slot></div>
  </div> 
</template>

<script>
  export default{
    name: 'TabBarItem',
    data() {
      return {
        
      }
    },
    props: { //接收父cpn的參數
      path: String,
      activeColor: {
        type: String,
        default: 'red',
      }
    },
    computed: {
      isActive() {
        // console.log(this.path);
        // console.log(this.$route);
        return (this.$route.path == this.path) ? true : false
      },
      activeStyle() { // computed 才可以bind style，method 不行
        //如果active 就綁定style 顏色是activeColor 沒有則不變 (i.e.不綁定)
        // console.log(this.activeColor);
        return this.isActive ? {color: this.activeColor } : {} 
      }
    },
    methods: {
      btnClk() {
        this.$router.push(this.path).catch(() => {})
      },
    }
  }
</script>

<style scoped>
.tab-bar-item {
  flex: 1;
  text-align: center;
  height: 49px;
  font-size: 14px;
}

.tab-bar-item img {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  vertical-align: middle;
}

/* .active {
  color: red;
} */
</style>
