<template>
  <div>
    <div id="tab-bar">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: "TabBar",
  };
</script>

<style scoped>
#tab-bar {
  display: flex;
  background-color: #fafafa;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: 0px -1px 0px #fafafa;
}


</style>
