<template>
  <div class="wrapper" ref="wrapper">
    <ul class="content">
      <li>list:1</li><li>list:1</li><li>list:1</li>
      <li>list:1</li>
      <li>list:2</li>
      <li>list:3</li>
      <li>list:4</li>
      <li>list:5</li>
      <li>list:6</li>
      <li>list:7</li>
      <li>list:8</li>
      <li>list:9</li>
      <li>list:10</li>
      <li>list:11</li>
      <li>list:12</li>
      <li>list:13</li>
      <li>list:14</li>
      <li>list:15</li>
      <li>list:16</li>
      <li>list:17</li>
      <li>list:18</li>
      <li>list:19</li>
      <li>list:20</li>
      <li>list:21</li>
      <li>list:22</li>
      <li>list:23</li>
      <li>list:24</li>
      <li>list:25</li>
      <li>list:26</li>
      <li>list:27</li>
      <li>list:28</li>
      <li>list:29</li>
      <li>list:30</li>
      <li>list:31</li>
      <li>list:32</li>
      <li>list:33</li>
      <li>list:34</li>
      <li>list:35</li>
      <li>list:36</li>
      <li>list:37</li>
      <li>list:38</li>
      <li>list:39</li>
      <li>list:40</li>
      <li>list:41</li>
      <li>list:42</li>
      <li>list:43</li>
      <li>list:44</li>
      <li>list:45</li>
      <li>list:46</li>
      <li>list:47</li>
      <li>list:48</li>
      <li>list:49</li>
      <li>list:50</li>
      <li>list:51</li>
      <li>list:52</li>
      <li>list:53</li>
      <li>list:54</li>
      <li>list:55</li>
      <li>list:56</li>
      <li>list:57</li>
      <li>list:58</li>
      <li>list:59</li>
      <li>list:60</li>
      <li>list:61</li>
      <li>list:62</li>
      <li>list:63</li>
      <li>list:64</li>
      <li>list:65</li>
      <li>list:66</li>
      <li>list:67</li>
      <li>list:68</li>
      <li>list:69</li>
      <li>list:70</li>
      <li>list:71</li>
      <li>list:72</li>
      <li>list:73</li>
      <li>list:74</li>
      <li>list:75</li>
      <li>list:76</li>
      <li>list:77</li>
      <li>list:78</li>
      <li>list:79</li>
      <li>list:80</li>
      <li>list:81</li>
      <li>list:82</li>
      <li>list:83</li>
      <li>list:84</li>
      <li>list:85</li>
      <li>list:86</li>
      <li>list:87</li>
      <li>list:88</li>
      <li>list:89</li>
      <li>list:90</li>
      <li>list:91</li>
      <li>list:92</li>
      <li>list:93</li>
      <li>list:94</li>
      <li>list:95</li>
      <li>list:96</li>
      <li>list:97</li>
      <li>list:98</li>
      <li>list:99</li>
      <li>list:100</li>
      <li>list:101</li>
      <li>list:102</li>
      <li>list:103</li>
      <li>list:104</li>
      <li>list:105</li>
      <li>list:106</li>
      <li>list:107</li>
      <li>list:108</li>
      <li>list:109</li>
      <li>list:110</li>
      <li>list:111</li>
      <li>list:112</li>
      <li>list:113</li>
      <li>list:114</li>
      <li>list:115</li>
      <li>list:116</li>
      <li>list:117</li>
      <li>list:118</li>
      <li>list:119</li>
      <li>list:120</li>
      <li>list:121</li>
      <li>list:122</li>
      <li>list:123</li>
      <li>list:124</li>
      <li>list:125</li>
      <li>list:126</li>
      <li>list:127</li>
      <li>list:128</li>
      <li>list:129</li>
      <li>list:130</li>
      <li>list:131</li>
      <li>list:132</li>
      <li>list:133</li>
      <li>list:134</li>
      <li>list:135</li>
      <li>list:136</li>
      <li>list:137</li>
      <li>list:138</li>
      <li>list:139</li>
      <li>list:140</li>
      <li>list:141</li>
      <li>list:142</li>
      <li>list:143</li>
      <li>list:144</li>
      <li>list:145</li>
      <li>list:146</li>
      <li>list:147</li>
      <li>list:148</li>
      <li>list:149</li>
      <li>list:150</li>
      <li>list:151</li>
      <li>list:152</li>
      <li>list:153</li>
      <li>list:154</li>
      <li>list:155</li>
      <li>list:156</li>
      <li>list:157</li>
      <li>list:158</li>
      <li>list:159</li>
      <li>list:160</li>
      <li>list:161</li>
      <li>list:162</li>
      <li>list:163</li>
      <li>list:164</li>
      <li>list:165</li>
      <li>list:166</li>
      <li>list:167</li>
      <li>list:168</li>
      <li>list:169</li>
      <li>list:170</li>
      <li>list:171</li>
      <li>list:172</li>
      <li>list:173</li>
      <li>list:174</li>
      <li>list:175</li>
      <li>list:176</li>
      <li>list:177</li>
      <li>list:178</li>
      <li>list:179</li>
      <li>list:180</li>
      <li>list:181</li>
      <li>list:182</li>
      <li>list:183</li>
      <li>list:184</li>
      <li>list:185</li>
      <li>list:186</li>
      <li>list:187</li>
      <li>list:188</li>
      <li>list:189</li>
      <li>list:190</li>
      <li>list:191</li>
      <li>list:192</li>
      <li>list:193</li>
      <li>list:194</li>
      <li>list:195</li>
      <li>list:196</li>
      <li>list:197</li>
      <li>list:198</li>
      <li>list:199</li>
      <li>list:200</li>
    </ul>
  </div>
</template>

<script>
  import BScroll from 'better-scroll'

  export default{
    name: 'Category',
    data() {
      return {
        // scroll: null, 
      }
    },
    created() {

    },
    mounted() {
      this.scroll = new BScroll(document.querySelector('.wrapper'), {
        probeType: 3, 
        pullUpLoad: true
      })
      this.scroll.on('scroll', (position) => {
        // console.log(position);
      })

      this.scroll.on('pullingUp', () => {
        console.log('load');
      })
    },

  }
</script>

<style scoped>
  .wrapper {
    /* position: absolute  !important;
    left: 0 !important;
    top: 0 !important; */
    overflow: hidden !important;
    height: 200px;
    background-color: red;
  }
</style>
