<template>
  <div>
    <my-nav-bar>
      <div slot=left class="back">
        <img src="@/assets/img/common/back.svg" alt="" @click="backClick">
      </div>
      <div slot="center" class="title">
        <div v-for="(item, index) in titles" 
            class="title_item"
            :class="{active: index==currentIndex}"
            :key="index"
            @click="titleClick(index)">
          {{item}}
        </div>
      </div>
    </my-nav-bar>
  </div>
</template>

<script>
  import MyNavBar from '@/components/common/navbar/MyNavBar'

  export default{
    name: 'DetailNavBar',
    components: {
      MyNavBar,
    },
    data() {
      return {
        titles: ['商品', '商店', '詳細', '評論'],
        currentIndex: 0,
      }
    },
    methods: {
      titleClick(index) {
        this.currentIndex = index
        this.$emit('titleClick', index)
      },
      backClick() {
        this.$router.back()
      }
    },
  }
</script>

<style scoped>
.title {
  display: flex;
}
.title_item {
  flex: 1;
}
.active {
  color: var(--color-high-text)
}
.back img{
  height: 18px;
  widows: 18px;
  margin-top: 6px;
}
</style>
