<template>
  <div class=cart-list>
    <cart-list-item v-for="(item, index) of cartList" 
                    :item-info="item"
                    :key="index">
    </cart-list-item>
      
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  import CartListItem from '@/views/cart/childComps/CartListItem'

  export default{
    name: 'CartList',
    components: {
      CartListItem,
    },
    computed: {
      ...mapGetters({
        cartList: 'cartList'
      })
    },
    updated() {

    },
    mounted () {

    },
  }
</script>

<style scoped>
  /* .cart-list {
    height: 100%;
  } */
</style>
