<template>
  <div class="bottom-bar">
    <div class="check-content">
      <check-button :isChecked="isSelectAll"
                    class="check-button"
                    @click.native="checkClick">
      </check-button>
      <span>全選</span>
    </div>

    <div class="price">
      總共: ${{totalPrice}}
    </div>

    <div class="calculate" @click="checkClick">去買單({{checkLength}})</div>
  </div>
</template>

<script>
  import CheckButton from '@/components/content/checkButton/CheckButton'
  import { mapGetters } from 'vuex'

  export default{
    name: 'CartBottomBar',
    components: {
      CheckButton,
    },
    methods: {
      checkClick() {
        if (this.isSelectAll) { // 目前全選 按下全部選
          this.cartList.forEach(item => {
            return item.checked = false
          }) 
        } else { // 目前有沒選中的 按下全選中
          this.cartList.forEach(item => {
            return item.checked = true
          })
        }
      }
    },
    computed: {
      ...mapGetters({
        cartList: 'cartList'
      }), //getter 映射

      totalPrice() {
        return this.$store.state.cartList.filter(item => {
          return item.checked
        }).reduce((preValue, item) => {
          return preValue + item.price * item.count
        }, 0).toFixed(0)  // 預設返回0   toFixed表示小數點後幾位，這邊把他用成整數所以是0
      },
      checkLength() {
        return this.$store.state.cartList.filter(item => {
          return item.checked
        }).length
      },
      isSelectAll() {
        if (this.cartList.length === 0) 
          return false

        return !(this.cartList.find(item => !item.checked)) // 若有沒選的則全選勾勾會是空 i.e.代表全選按鈕可以按使得購物車項目全選
      }
    },
  }
</script>

<style scoped>
  .bottom-bar {
    background-color: #eee;
    height: 40px;
    position: absolute;
    bottom: 44px;
    right: 0;
    left: 0;

    margin-bottom: 10px;
    line-height: 40px;

    font-size: 18px;
  }

  .check-content {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
  }

  .check-button {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  
  .price {
    margin-left: 20px;
    flex: 1;
  }

  .bottom-bar{
    display: flex;
  }
  
  .calculate {

    margin-left: auto;
    width: 100px;
    background-color: var(--color-tint);
    text-align: center;
    font-weight: 900;
  }

</style>
