<template>
  <div class=toast  v-show="isToastShow">
    <div>{{message}}</div>
  </div>
</template>

<script>
  export default{
    name: 'Toast',
    props: {
      message: {
        type: String,
        default: ""
      },
      isToastShow: {
        type: Boolean,
        default: false
      }
    },
  }
</script>

<style scoped>
  .toast {
    position: fixed;
    padding: 15px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, .75);
    color: white;
    animation: fadeOut ease 3s;  /* 需要和detail 裡settimeout的時間一致 */
  }
  @keyframes fadeOut {
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
