<template>
  <div class="wrapper" ref="wrapper">
    <div class="content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import BScroll from 'better-scroll'

  export default{ 
    name: 'Scroll',
    data() {
      return {
        scroll: null,
      }
    },
    props: {
      probeType: {
        type: Number,
        default: 3
      },
      pullUpLoad: {
        type: Boolean,
        default: false
      }

    },

    mounted() {
      // 創建 better scroll 物件
      this.scroll = new BScroll(this.$refs.wrapper,  {  // 不要綁定class 不唯一 
        mouseWheel: true, // 電腦版才可以滑動 預設是false
        click: true,
        probeType: this.probeType,
        pullUpLoad: this.pullUpLoad
      })

      // 監聽scroll 並將postition 位置傳給父component
      this.scroll.on('scroll', (position) => {
        // console.log(position);  
        this.$emit('scroll', position)
      })

      // 監聽滑到底的事件
      if (this.pullUpLoad) {
        this.scroll.on('pullingUp', () => {
          this.$emit('pullingUp')
        })
      }

    },
    methods: {
      // && this.scroll  是為了防止還沒創建scroll物件就開始執行methods，若＆＆出來沒東西那就不要做任何事
      scrollTo(x,y, time=500) {
        this.scroll && this.scroll.scrollTo(x, y, time)
      },
      finishPullUp() {
        this.scroll.finishPullUp()
      },
      refresh() {
        // console.log('refresh'); 
        this.scroll && this.scroll.refresh()
      },
      getScrollY() {
        return this.scroll ?  this.scroll : 0
      },

    }
  }
</script>

<style scoped>

</style>
