<template>
  <div class="feature">
    <a :href="momo_link">
      <img src="@/assets/img/home/momo.jpg" alt="">
    </a>
  </div>
</template>

<script>
  export default{
    name: 'FeatureView',
    data() {
      return ({
        momo_link: 'https://www.momoshop.com.tw/category/LgrpCategory.jsp?l_code=2703100000&mdiv=1099700000-bt_0_957_01-&ctype=B',

      })
    }
  }
</script>

<style scoped>
  .feature img {
    width: 100%;
  }
</style>
