<template>
  <div>
    <swiper>
      <swiper-item v-for="(item) in banners">
        <a href="htpp://google.com">
          <img :src="item.imageUrl" @load="imageLoad">
        </a>
      </swiper-item>
    </swiper>
  </div>
</template>

<script>
  // import Swiper from '@/components/common/swiper/Swiper'
  // import SwiperItem from '@/components/common/swiper/SwiperItem'
  import {Swiper, SwiperItem} from 'components/common/swiper' // 上面兩行縮寫

  export default{
    name: 'HomeSwiper',
    data() {
      return {
        isImageLoad: false
      }
    },
    props: {
      banners: {
        type: Array,
        required: true
      }
    },
    components: {
      Swiper,
      SwiperItem,
    },
    methods: {
      imageLoad() {
        // console.log('load');
        if(!this.isImageLoad) {
          this.$emit('swiperImageLoad')
          this.isImageLoad = true
        }
      }
    }
  }
</script>

<style scoped>

</style>
