<template>
  <div id="detail">
    <!-- <h2>item: {{item_id}}</h2> -->
    <detail-nav-bar class="detail-nav-bar" @titleClick="titleClick" ref="nav"></detail-nav-bar>
    <scroll class="content" ref="scroll" @scroll="contentScroll" :probeType="3">
      <detail-swiper :topImages="topImages"></detail-swiper>
      <detail-base-info :detailData="detailData" ref="baseInfo"></detail-base-info>
      <detail-shop-info :shopInfo="detailData" ref="shopInfo"></detail-shop-info>
      <detail-goods-info :detailInfo="detailData" ref="goodsInfo" @imageLoad="imageLoad"></detail-goods-info>
      <detail-comment-info :commentInfo="detailData" ref="commentInfo"></detail-comment-info>
    </scroll>
    <detail-bottom-bar @addCart="addCart"></detail-bottom-bar>
    <back-top @click.native="backClk" v-show="isBackTop"></back-top>
    <toast :message="message" :isToastShow="isToastShow"></toast>
  </div>
</template>

<script>
  import DetailNavBar from '@/views/detail/childCompos/DetailNavBar'
  import DetailSwiper from '@/views/detail/childCompos/DetailSwiper'
  import DetailBaseInfo from '@/views/detail/childCompos/DetailBaseInfo'
  import DetailShopInfo from '@/views/detail/childCompos/DetailShopInfo'
  import DetailGoodsInfo from '@/views/detail/childCompos/DetailGoodsInfo'
  import DetailCommentInfo from '@/views/detail/childCompos/DetailCommentInfo'
  import DetailBottomBar from '@/views/detail/childCompos/DetailBottomBar'

  import Toast from '@/components/common/toast/Toast'
  import Scroll from 'components/common/scroll/Scroll'
  import BackTop from '@/components/content/backTop/BackTop'

  import axios from 'axios' 

  export default{
    name: "Detail",
    components: {
      DetailNavBar,
      DetailSwiper,
      DetailBaseInfo,
      DetailShopInfo,
      DetailGoodsInfo,
      DetailCommentInfo,
      DetailBottomBar,
      BackTop,
      Scroll,
      Toast,
    },
    data() {
      return {
        item_id: null,
        detailData: null,
        topImages: [],
        goods: {},
        // name: null,
        cpnTopY: [], // 紀錄商品、評論、推薦...cpn的y值 給scrollTo 使用
        currentIndex: 0,
        isBackTop: false,
        message: "",
        isToastShow: false,
      }
    },
    created() {
      this.item_id = this.$route.params.id
      this.getDetail(this.item_id)
    },
    mounted() {

    },
    updated() {
      // this.cpnTopY = []

      
    },
    methods: {
      getDetail(id) {
        const type = parseInt((id-1000)/200)
        const page = parseInt((id-1000-(200*type))/20)
        const offset = Math.round(id%20)
        let type_name = 'pop' // default type_name

        switch (type) {
          case 0:
            type_name = 'pop'
            break;
          case 1:
            type_name = 'new'
            break;
          case 2:
            type_name = 'sell'
            break;
          default:
            break;
        }

        axios.get('http://localhost:3000/goods') 
          .then(res => { 
            this.detailData = (res.data[type_name][page].list[offset]);
            this.topImages = this.detailData.topImages
            // this.name = this.detailData.name
        })
      },
      imageLoad() {
        this.$refs.scroll.scroll.refresh()
        // console.log('refresh');

        this.cpnTopY.push(0)
        this.cpnTopY.push(this.$refs.shopInfo.$el.offsetTop)
        this.cpnTopY.push(this.$refs.goodsInfo.$el.offsetTop)
        this.cpnTopY.push(this.$refs.commentInfo.$el.offsetTop)
        this.cpnTopY.push(Number.MAX_VALUE) // 多一個最大值 給contenscroll裡的區間判斷簡易
        // console.log(this.cpnTopY);
        this.$refs.scroll.scroll.refresh()
      },
      titleClick(index) {
        // console.log(index);
        this.$refs.scroll.scrollTo(0, -(this.cpnTopY[index]-44), 100)
      },
      contentScroll(position) {
        const positionY = -(position.y)

        for(let i = 0; i < this.cpnTopY.length; i++ ) { 
          if ( (this.currentIndex !== i ) // 若不同index才要進去判斷 否則會print太多次 會lag
            && (positionY >= this.cpnTopY[i] && positionY <= this.cpnTopY[i+1]))  //  0 - i-1 用 包含判斷                              
          {
            this.currentIndex = i
            this.$refs.nav.currentIndex = this.currentIndex
            // console.log(i);
          }
        }
        
        if (-(position.y) > 300) 
          this.isBackTop=true
        else
          this.isBackTop=false 

      },
      backClk() {
        // console.log('clk'); 
        // this.$refs.scroll.scroll.scrollTo(0,0,500)
        this.$refs.scroll.scrollTo(0,0,500) // scrollTo 是component自己寫的methods
      },
      addCart() {
        // console.log(this.detailData);
        const product = {
          id: this.detailData.id,
          name: this.detailData.name,
          image: this.detailData.topImages[0],
          price: this.detailData.price,
          description: this.detailData.description,
        }

        this.$store.dispatch('addCart', product).then(res => {  // dispatch可以返回promise 
          this.isToastShow = true
          this.message = res

          setTimeout(() => {
            this.isToastShow = false
            this.message = ""
          }, 3000)
        })
      }
    }
  }
  
</script>

<style scoped>
  #detail {
    position: relative;
    background-color: #fff;
    z-index: 9;
    height: 100vh;
  }

  .content {
    height: calc(100% - 44px - 49px);
  }
  .detail-nav-bar {
    position: relative;
    background-color: #fff;
    z-index: 9;
  }
</style>

