<template>
  <div id="home">
    <my-nav-bar class="home-nav">
      <!-- <div slot="left">1111</div> -->
      <div slot="center">Shopping Mall</div>
      <!-- <div slot="right">33333</div> -->
    </my-nav-bar>
    <!-- 有兩個tab-control，此tab control會滑到第二個tab-control時顯示且固定在上面 -->
    <tab-control class="tab-control" 
                :titles="['熱門', '新款', '銷售']" 
                @tabClick="tabClick" 
                ref="tabControl1"
                v-show="isTabFixed"> 
                <!-- @tabClick listen 子component 發出的emit，若發出emit 去做tabClk對應的動作 -->
    </tab-control>
    <scroll class="content" ref="scroll" :probe-type="3" :pullUpLoad="true" @scroll="contentScroll" @pullingUp="loadMore">
      <home-swiper :banners="banners" @swiperImageLoad="swiperImageLoad"></home-swiper> <!-- 375*198 -->
      <!-- <recommend-view :recommends="recommends"></recommend-view> -->
      <feature-view></feature-view>
      <tab-control :titles="['熱門', '新款', '銷售']" 
                  @tabClick="tabClick" 
                  ref="tabControl2"> 
                  <!-- @tabClick listen 子component 發出的emit，若發出emit 去做tabClk對應的動作 -->
      </tab-control>
      <good-list :goods=showGoods></good-list>
    </scroll>
    <back-top @click.native="backClk" v-show="isBackTopShow"></back-top> <!-- component 需要加上.native屬性才可以監聽click -->
    
    <router-view></router-view>
  </div>
</template>

<script>
  // common import
  import MyNavBar from '@/components/common/navbar/MyNavBar'
  import HomeSwiper from '@/views/home/childComps/HomeSwiper'
  import RecommendView from '@/views/home/childComps/RecommendView'
  import FeatureView from '@/views/home/childComps/FeatureView'
  import Scroll from '@/components/common/scroll/Scroll'

  // content import
  import TabControl from '@/components/content/tabControl/TabControl'
  import GoodList from '@/components/content/goods/GoodList'
  import BackTop from '@/components/content/backTop/BackTop'


  import {getHomeMultidata, getHomeGoods} from "network/home.js"

  import axios from 'axios'
  import _ from 'lodash'

  export default {
    name: "Home",
    components: {
      // common components
      MyNavBar, 
      HomeSwiper,
      RecommendView,
      FeatureView,

      // content components
      TabControl,
      GoodList,
      Scroll,
      BackTop,
    },
    data() {
      return {
        banners: [],
        recommends: [],
        goods: {
          'pop': {
            page: 0,
            list: [],
          },
          'new': {
            page: 0,
            list: [],
          },
          'sell': {
            page: 0,
            list: [],
          },
        },
        currentType: 'pop',
        isBackTopShow: false,
        tabControlOffestTop: 0,
        isTabFixed: false,
        saveY: 0,
      }
    },
    computed: {
      showGoods() {
        return this.goods[this.currentType].list
      }
    },
    created() { //1. created 就 request data  邏輯抽去methods
      this.getHomeMultidata() // 要加this才可以呼叫到methods裡的function 否則只是import的東西而已

      // create 先將page1 的data 拿到 之後的才慢慢拿
      this.getHomeGoods('new')
      this.getHomeGoods('pop')
      this.getHomeGoods('sell')
    },
    mounted() {
      // const refresh = this.debounce(this.$refs.scroll.refresh, 500)
      const refresh = _.debounce(this.$refs.scroll.refresh, 10)

      this.$bus.$on('imageLoad', () => { // 監聽bus上是否有imageLoad的事件
        // this.$refs.scroll.refresh()
        refresh()
      })
      this.$refs.scroll.refresh() 
    },

    // keep alive 多得兩個生命週期(activated, deactivated) ，分別為進入和離開頁面會觸發
    activated() { 
      // console.log('act');
      // this.$refs.scroll.scrollTo(0, this.saveY)
      this.$refs.scroll.refresh() 
    },
    deactivated() {
      // console.log('deact');
      this.saveY = this.$refs.scroll.getScrollY()
      // console.log(this.saveY);
    },
    methods: {
      // 
      // Debounce
      debounce(func, delay=500) {
        let timer = null

        return function (...args) {
          if (timer) { // 將太早來的function 重新計時
            clearTimeout(timer) 
          }
          timer = setTimeout(() => {  
            func.apply(this, args)
          }, delay)
        }
      },

      // listen methods
      tabClick(index) {
        switch (index) {
          case 0:
            this.currentType = 'pop'
            break;
          case 1:
            this.currentType = 'new'
            break;
          case 2:
            this.currentType = 'sell'
            break;
        }

        // 對兩個tabcontrol一起進行設定
        this.$refs.tabControl1.currentIndex = index
        this.$refs.tabControl2.currentIndex = index
      },
      backClk() {
        // console.log('clk'); 
        // this.$refs.scroll.scroll.scrollTo(0,0,500)
        this.$refs.scroll.scrollTo(0,0,500) // scrollTo 是component自己寫的methods
      },
      contentScroll(position){
        // console.log(position.y);
        if (Math.abs(position.y) > 300) 
          this.isBackTopShow=true
        else
          this.isBackTopShow=false 

        if (Math.abs(position.y) > this.tabControlOffestTop)
          this.isTabFixed =true
        else
          this.isTabFixed =false

      }, 
      loadMore() {
        this.getHomeGoods(this.currentType)
      },
      swiperImageLoad() {
        // console.log(this.$refs.tabControl2);
        // this.$refs.tabControl.$el.offsetTop 
        // 需要在image load 完後才可以去取得這個值  
        this.tabControlOffestTop = this.$refs.tabControl2.$el.offsetTop 
      },

      // request data methods
      getHomeMultidata() {
        getHomeMultidata().then(res => { // 因為function 所以res 執行完會消失 所以需要額外保存
            console.log(res);
            this.banners = res.banners
            // this.recommends = res.data.recommend.list 
            // console.log(this.banners);
            // console.log(this.recommends);
          })

        // this.banners = [
        //   'https://source.unsplash.com/750x390/?sneaker',
        //   'https://source.unsplash.com/750x390/?product',
        //   'https://source.unsplash.com/750x390/?shop',
        //   'https://source.unsplash.com/750x390/?item',
        // ]
        console.log(this.banners);
        // axios.get('http://localhost:3000/goods') 
        //   .then(res => {
        //     this.banners = res.data.banner.list
        // })
      },
      getHomeGoods(type) {
        axios.get('http://localhost:3000/goods')
          .then(res => {
            const page = this.goods[type].page + 1 // request 下一頁 
            // console.log(res.data[type][page].list)
            this.goods[type].list.push(...res.data[type][page].list) // ... push() 支援 Spread Operators 將list 一個一個push
            this.goods[type].page = page  // 紀錄request到的page 
            // console.log(this.goods[type]);

            this.$refs.scroll.finishPullUp()  // 呼叫finishPullUp 才能夠監聽下一次的pullingUp
          })
      },

    }

  }
</script>

<style scoped>
#home {
  /* padding-top: 44px; */
  height: 100vh;
  /* position: relative; */
}

.content { 
  height: calc(100% - 93px);
  overflow: hidden;
  /* margin-top: 44px; */
  position: absolute;
  top: 44px;
  bottom: 49px;
  left: 0;
  right: 0;
}

.home-nav {
  background-color: var(--color-tint);
  color:white;
  font-size: 24px;
  font-weight: bold;

  /*
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9; */
}

.tab-control {
  z-index: 9;
  position: relative;
}

</style>
