<template>
  <!-- <h2>購物車</h2> -->
  <div class="cart">
    <my-nav-bar class="nav-bar">
      <div slot="center">購物車 ({{cartLen}})</div>
    </my-nav-bar>
    <scroll class="content" ref="scroll">
      <cart-list></cart-list>
    </scroll>
    <cart-bottom-bar></cart-bottom-bar>
  </div>
</template>

<script>
  import MyNavBar from '@/components/common/navbar/MyNavBar'
  import CartList from '@/views/cart/childComps/CartList'
  import CartBottomBar from '@/views/cart/childComps/CartBottomBar'
  import Scroll from '@/components/common/scroll/Scroll'
  
  import { mapGetters } from 'vuex'

  export default {
    name: "Cart",
    components: {
      MyNavBar,
      CartList,
      Scroll,
      CartBottomBar,
    },
    computed: {
      ...mapGetters({ // 官方提供的getter 映射方式
        // EX:  把 `this.doneCount` 映射為 `this.$store.getters.doneTodosCount`
        // doneCount: 'doneTodosCount'
        cartLen: 'cartLength'
      })
    },
    mounted () {
      this.$refs.scroll.refresh() 
    },
    updated() {
      this.$refs.scroll.refresh() 
    }, 
    activated () {
      this.$refs.scroll.refresh() 
    }
  }
</script>

<style scoped>
  .cart {
    height: 100vh;
    background-color: #fff;
  }

  .nav-bar {
    background-color: var(--color-tint);
    color: white;
    font-weight: 600;
  }

  .content {
    overflow: hidden;
    height: calc(100% - 44px - 49px - 40px);
    /* z-index: 9;
    position: absolute;
    background-color: #fff;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 49px; */
  }
</style>
