<template>
    <div>
      <div class="icon-selector" :class="{'selector-active': isChecked}" @click="selectItem">
        <img src="@/assets/img/cart/tick.svg" alt="">
      </div>
    </div>
</template>

<script>
	export default {
		name: "CheckButton",
    props: {
      isChecked: {
        type: Boolean,
        default: false
      }
    },

    methods: {
      selectItem: function () {
        // console.log('---'+this.isChecked);
        // this.$emit('checkBtnClick')
        // this.isChecked = !this.isChecked
      }
    },
	}
</script>

<style scoped>
  .icon-selector {
    position: relative;
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    border: 2px solid #ccc;
    cursor: pointer;
  }

  .selector-active {
    background-color: var(--color-tint);
    border-color: var(--color-tint);
  }
</style>
